@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-Noto-Serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <400px>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-Inter{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400px>;
  font-style: normal;
}


/* .shared-style */
.font-color{
    color: #E95A08;
}
.font-color2{
  color: #8987A1;
}

.navbar, .banner,.plants-card{
    max-width: 1440px;
    margin: 0 auto;
}


.btn-primary{
background-color: #E95A08;
color: white;
padding: 20px 80px;
font-weight: 600;
font-size: 1rem;
border: none;
}

/* .navbar-styles */

.logo{
    max-width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display:flex ;

}

.nav-item{

list-style: none;
margin: 30px;
}
.home{
    font-weight:bold;
    color: black;   
}
.nav-link{
    text-decoration: none;
    color: #8987A1;


}

/* .shoping_cart */


.shoping-cart{
    display: flex;
    align-items: center;
    
    
    }

.cart{
    color: black;
    
}

.img-cart{
    width: 24px;
    height: 24px;
}

/* .banner-style */
  



.banner{
    display: flex;
    align-items: center;
    padding-top: 221px;
  }

 
  .banner-img{
    max-width: 100%;
  }
  .banner-title{
    font-weight: bold;
    font-size:5rem ;
  }
  .banner-descrip{
    font-weight: 400px;
    font-size: 1.5rem;
  
    
  }

  /* .plants-style */
  .our-plants{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }




  .plant-taitle{
    font-weight: bold;
    font-size: 3.3rem;
  }


  .plant-des{
    font-weight: 400px;
    font-weight: 1.5rem;
  }


  /* .plant-card */

  .plants-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  
  }

  .plant-nam{
    font-weight: 500px;
    font-size: 22px;
  }
  .price{
    font-weight: bolder;
    font-size: 22px;
  }



/* .medium size device */

  @media screen and (max-width: 576px ) {
    .quary{
      display: none;
    }
    .banner{
       padding-top: 20px;
       flex-direction:column-reverse;
    }
    

    .plants-card{
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0px;
    padding-right: 0px;
    }

    
   
  }